@import "../../scss/imports";

.inscricao-component {
    .area {
        width: 95%;
        max-width: 960px;
        margin: 1em auto;

        h2 {
            border-bottom: 2px solid #ccc;
            padding-bottom: .4em;
        }

        .filtro {
            padding: 1em 0;
        }

        .table {
            td {
                vertical-align: middle;
            }
        }
    }
}
