@import "../../scss/imports";

.sorteio-component {
    .area {
        width: 95%;
        max-width: 960px;
        margin: 1em auto;

        h2 {
            border-bottom: 2px solid #ccc;
            padding-bottom: .4em;
        }

        .form-inline {
            padding: 1em 0 2em;

            input[type=text] {
                width: 500px;
            }
        }

        .table {
            td {
                vertical-align: middle;
                strong {
                    color: darkblue;
                }
                span {
                    color: #900;
                    cursor: pointer;
                }
            }
        }
    }
}
